{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Servicio{% endblock %}

{% block body %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Servicio</h1>
        <p class="lead text-body-secondary">Bienvenue chez Servicio , votre prestataire de services à la personne, nous sommes là pour améliorer votre quotidien.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Voir les services </a>
          <a href="#" class="btn btn-secondary my-2">En savoir plus</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for service in services %}

        <div class="col">
          <div class="card shadow-sm">
            <img  src="/uploads/{{service.image}} " width="100%" height="auto"/>
            <div class="card-body">
              <p class="card-text">{{ service.name}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a  href= "{{ path('app_service_details', {'slug' : service.slug }) }}" class="btn btn-sm btn-outline-secondary">View</a>
                  {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  {% endif %}
                </div>
                <small class="text-body-secondary">#{{ service.id }}</small>
              </div>
            </div>
          </div>
        </div>
         {% endfor %}
        
      </div>
    </div>
  </div>
{% endblock %}
